body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--white: #ffffff;
	--tan-1: #fbf9f6;
	--tan-2: #e7e2dd;
	--tan-3: #e2d9d1;
	--tan-4: #d3c1ae;
	--orange1: #f67f00;
	--text-light: #968c84;
	--text-dark: #615954;

  --gamer-brown: #54494B;
  --gamer-white: #F1F7ED;
  --gamer-green: #91C7B1;
  --gamer-red: #B33951;
  --gamer-yellow: #E3D081;

  --five: #5D4E50;
  --four: #826C7F;
  --three: #A88FAC;
  --two: #D4B2D8;
  --one: #EFCEFA;

  --deep-blue: #3D5A80;
  --light-blue: #98C1D9;
  --light-cyan: #E0FBFC;
  --orange-2: #EE6C4D;
  --gunmetal: #293241;

  --orange: #FE4A49;
  --pacific-blue: #2AB7CA;
  --yellow: #FED766;
  --grey: #E6E6EA;
  --white: #F4F4F8;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--white);
	padding: 2vmin;
	height: 100vh;
}

.newBtn {
  background-color: var(--pacific-blue);
  border: 0.1vmin solid var(--deep-blue);
}

.delete {
  color: black;
  background-color: var(--orange);
}

.gamesList {
  color: var(--gunmetal);
}

.review-input-box {
  height: 100px;
  width: 200px;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}

img {
  width: 300px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	height: 100%;
}

.align-ctr {
	text-align: center;
}

.align-rt {
	text-align: right;
}

.smaller {
	font-size: smaller;
}

.flex-ctr-ctr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.flex-j-end {
	justify-content: flex-end;
}

.scroll-y {
	overflow-y: scroll;
}

.section-heading {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--tan-1);
	color: var(--text-dark);
	border: 0.1vmin solid var(--tan-3);
	border-radius: 1vmin;
	padding: 0.6vmin;
	text-align: center;
	font-size: 2vmin;
}

.form-container {
	padding: 3vmin;
	background-color: var(--tan-1);
	border: 0.1vmin solid var(--tan-3);
	border-radius: 1vmin;
}

p.error-message {
	color: var(--orange);
	text-align: center;
}

form {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.25vmin;
	color: var(--text-light);
}

label {
	font-size: 2vmin;
	display: flex;
	align-items: center;
}

input {
	padding: 1vmin;
	font-size: 2vmin;
	border: 0.1vmin solid var(--tan-3);
	border-radius: 0.5vmin;
	color: var(--text-dark);
	background-image: none !important; /* prevent lastpass */
	outline: none;
}

input:focus {
	border-color: var(--five);
}

button,
a.button {
	margin: 1vmin;
	padding: 1vmin;
	color: var(--gunmetal);
	background-color: var(--yellow);
	font-size: 2vmin;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	border: 0.1vmin solid var(--orange);
	border-radius: 0.5vmin;
	outline: none;
	cursor: pointer;
}

button.btn-sm {
	font-size: 1.5vmin;
	padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
	font-size: 1vmin;
	padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
	cursor: not-allowed;
	background-color: var(--tan-4);
}

button[type='submit'] {
	grid-column: span 2;
	margin: 1vmin 0 0;
}
